/* 首页nav菜单 */
.xk_nav { background: #fff; width: 100%; height: 70px; padding: 15px 0 5px 0; }

.xk_nav a:hover { color: #FF6E00; }
.xk_nav2 { background: #fff; width: 100%; height: 70px; padding: 0 0 5px 0; }
.xk_nav2 a { float: left; width: 16.66%; height: 35px; text-align: center; color: #222; font-size: 16px;}
.xk_nav2 a:hover { color: #FF6E00; }
